*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    background-color: white;
    border-bottom: 1px solid #04ebab;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
#menu li{
padding: 10px;
}
#menu{
    margin-top: auto;
    margin-left: 10px;
}
#sidebar{
    background: red;
    margin: 0;
    margin-left: 20px;
}
.container{
    display: flex;    height: 88px;
    flex-direction: column;    padding: 0;
    }
.items{
    text-align: center;
    padding: 15px;
    font-size: 15px;
    color: white;
}
.item1{
    display: flex;
    background-color: black;
    padding: 0px;
    height: 40%;
}
.item2{
    height: 60%;
    background-color: blue;
 }
 .item2 a{
    color: white; font-weight: bold;
 }
.lastItems{
    height: 88px;
}
.item1 > .subitem1 ,.subitem2{
    margin-left: 15px;
    margin-right: 15px;
}
.item1 > .subitem3{
    background-color: black;
    color: white;
    flex-grow: 1;
    margin: 5px;
}
.subitems:after {
    content: '';
    position: absolute;
    top: 0;
    right: -17px;
    bottom: 0;
    left: 30px;
    border: 1px solid #1d56e8;
    background-color: #1d56e8;
    border-width: 0 1px 0 0;
    -webkit-transform: skewX(40deg);
    transform: skewX(40deg);
    z-index: 1;
}
.subitem1, .subitem2 ,.subitem3{
   border:1px solid blue skewX(30deg);
 }
 .line{
    background: blue;
    width: 1.5px;
    height: auto;
    transform: skewX(40deg);
 }
 .btn .btn-primary{
    font-weight: 600;
    background-color: blue;
    border: blue;
}
#logo img{
    height: 46px;
    width: 180px;
}
#sidebar:before {
    position: absolute;
    content: '';
    width: 4%;
    height: 88px;
    top: 10px;
    left: 1133px;
    background-color: blue;
    transform: skew(25deg);
    z-index: 1;
}
#sidebar:after {
    transform: skew(45deg); 
}